/* Estilos básicos */
body {
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
    overflow-x: hidden;
  }
  
  /* Estilo de bienvenida */
  .welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6ed2a0;
    text-align: center;
  }
  
  .welcome-message {
    font-size: 3rem;
    color: #2c3e50;
  }
  
  .scroll-text {
    font-size: 1.5rem;
    color: #34495e;
  }
  
  /* Estilo de las secciones */
.page {
    height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    
  }
  /* Pagina 1 */
  .page-1 {
    background-color: #8e44ad;
    color: #fff;
    font-family: 'Baloo 2', sans-serif;
  }
  
  #titlePage1 h1 {
    margin-bottom: 20px; /* Espacio entre el h1 y el formulario */
  }
  
  #add-thing {
    display: flex;
    flex-direction: column;
    grid-template-columns: 90% 10%;
  }
  
  #thing-box {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #add-thing-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }  
  /* Pagina 2 */
  .page-2 {
    background-color: #3498db;
    color: #fff;
  }
  